ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.item{
    margin-bottom: 60px;
}
.content-slider li{
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
    width: 800px;
}
.content-slider li img{
    width: 100%;
    height: 150px;
    vertical-align: middle;
    display: block;
}

.img-overlay {
    background: rgba(0, 0, 0, 0.5);;
    width: inherit;
    height: 35px;
    position: absolute;
    opacity: 0.6;
    bottom: 0px;
    border-bottom: 2px #4c4c4c solid;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.text-overlay{
    color: #fff;
    line-height: 1.2;
    font-size: 15px;
    padding-left: 4px;
    margin-top: 7px;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.custom-separator{
    width: 30%;
    border-bottom: 5px solid #8A8A8A;
    float: right;
    position: absolute;
    margin-top: 22px;
    margin-left: 10px;
}

.post-custom{
    background: none !important;
    margin-top: 40px;
}
.icon-custom{
    font-size: 35px;margin-left: 100px;
}

.title-custom{
    display: inline-block;
    min-width: 200px;
    font-size: 20px;
    vertical-align: text-bottom;
    margin-left: 5px;
}

.form-custom{
    margin-left: 170px !important;
    box-shadow: none; 
    max-width: 300px; 
    margin-top: 20px !important;
    background-color: #f9f9f9;
}

.form-custom2{
    box-shadow: none; 
    max-width: 320px; 
    margin-top: 20px !important;
    background-color: #f9f9f9;
}

.lbl{
    font-size: 25px;
    text-shadow: 1px 1px #d2d2d2;
    color: #000;
}

.profile-title{
    vertical-align: -webkit-baseline-middle;
    display: inline;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 2px 2px #d2d2d2;
}

/* the overlayed element */
.simple_overlay {
    top: 13% !important;
    left: 26% !important;
    border-radius: 8px;
    display:none;
    z-index:10000;
    background-color:#F9F9F9;
 
    width:560px;
    min-height:320px;
    border:1px solid #666;
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
 
/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(/img/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
.overlay-lock{
    font-size: 90px;
    text-shadow: 4px 3px grey;
    color: black;
}
#changepass{
    font-size: 18px;
    cursor: pointer;
}

#changepass:hover{
    font-size: 22px;
    cursor: pointer;
    color: #000;
    text-shadow: 3px 3px #909090;
}

#errmsg-box{
    min-height: 40px;
    margin-bottom: 10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    opacity: 0.7;
    border-radius: 5px;
    display: none;
    font-weight: bold;
}

.disabled{
        background-color: #e6e6e6;
}
.owl-carousel .owl-item {
    height: 170px;
}
.owl-item .crsl-item{
    height: 167px;
    width: 225px;
    background-color: #fff;
    border: 2px #c3c3c3 solid;
    border-radius: 5px !important;
}

.owl-item .crsl-item img{
    border-radius: 5px !important;
}

.owl-img {
    height: 170px;
    display: table-cell;
    vertical-align: middle;
}
#to-time{
    background-color: #e6e6e6;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { 
    transform: scale(1.1); 
    cursor: pointer;
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
}

/*a.continue_button.blue_button:hover {
    background: url(/img/icons/go.png) no-repeat right center #2f82ec;
}*/

a.continue_button:hover {
    color: #afd2f9;
    text-decoration: none;
}
a.blue_button:hover {
    background: #2f82ec;
    -moz-box-shadow: 0 1px 2px 0 #7cb7f5 inset, inset 0 -15px 15px 0 #4296f0;
    -webkit-box-shadow: 0 1px 2px 0 #7cb7f5 inset, inset 0 -15px 15px 0 #4296f0;
    box-shadow: 0 1px 2px 0 #7cb7f5 inset, inset 0 -15px 15px 0 #4296f0;
}

a.blue_button {
    background: #4296f0;
    border: 1px solid #2f7acd;
    -moz-box-shadow: 0 1px 2px 0 #7cb7f5 inset, inset 0 -15px 15px 0 #2f82ec;
    -webkit-box-shadow: 0 1px 2px 0 #7cb7f5 inset, inset 0 -15px 15px 0 #2f82ec;
    box-shadow: 0 1px 2px 0 #7cb7f5 inset, inset 0 -15px 15px 0 #2f82ec;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 46px;
    font-size: 13px;
    padding: 15px 35px 15px 15px;
    border-radius: 5px;
    background: url(/img/icons/go.png) no-repeat right center #4296f0;
}
.ico{
    min-width: 85px;
    text-align: center;
}
td.inlabel{
    vertical-align: top;
}
td input{
    min-width: 300px;
}
#sendmsg{
    color: #378eef;
    cursor: pointer;
    font-size: 15px; 
    float: right;
    margin-top: 15px;
}
.tdcntnt{
    font-size: 18px;
}
.pg-title{
    margin: 25px 20px 20px 25px;
    font-family: initial;
    color: #000;
    font-size: 22px;
}
.print{
    margin-left: 5px;
}
.print-block{
    text-align: center;
    margin-bottom: 20px;
}
i.info{
    font-size: 25px;
    color: #434b56;
}

.print-block a {
    text-decoration: none;
    margin: 10px;
    color: #434b56;
}

.print-block a:hover {
    margin: 10px;
    color: #434b56;
    text-decoration: none;
}
.separator{
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
    margin-top: 15px;
}
input.red_button, button.red_button {
    margin-top: 10%;
    border: 1px solid #cc2f2f;
    background: #ff0000;
    -moz-box-shadow: 0 1px 2px 0 #f5ac7c inset, inset 0 -15px 15px 0 #ec702f;
    -webkit-box-shadow: 0 1px 2px 0 #f57c7c inset, inset 0 -15px 15px 0 #ec702f;
    box-shadow: 0 1px 2px 0 #f57c7c inset, inset 0 -15px 15px 0 #dc1631;
}

input.red_button:hover, button.red_button:hover {
    background: #ec2f2f;
    -moz-box-shadow: 0 1px 2px 0 #f5ac7c inset, inset 0 -15px 15px 0 #f08643;
    -webkit-box-shadow: 0 1px 2px 0 #f5ac7c inset, inset 0 -15px 15px 0 #f08643;
    box-shadow: 0 1px 2px 0 #f57c7c inset, inset 0 -15px 15px 0 #f04353;
}
.removextra{
    margin-left: 4px;
    color: #ff0000;
}
.removextra:hover{
    font-size: 15px;
    cursor: pointer;
    text-shadow: 2px 2px rgb(138, 67, 67);
}
h5{
    text-align: right;
}
.ifanonymous>h4{
    background: #eee;
    color: #7c8490;
    font-size: 11px;
    text-transform: uppercase;
    padding: 4px 20px;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { 
    transform: scale(1.1); 
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
}
.custom-select{
    margin-top: 5px;
    min-height: 42px;
}
#cart{ 
    text-align: center;
    float: none !important;
    color: #ef7c37;
    font-size: 25px;
    margin-top: 30px;
}
.user span ul {
    display: none;
    background: #fff;
    float: left;
    padding: 0;
    position: absolute;
    width: 145px;
    z-index: 999;
    border: 1px solid #d2d2d2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 14px;
    padding: 5px 0;
}
.user span ul li{
    margin-right: 0;
    height: auto;
    padding: 0 0 2px;
}
.user span ul li:hover{
    background-color: #f7f7f7;
}
.user span ul li:hover>a{
    color: #a8abb0;
    background: #f7f7f7;
}
.user span ul:before {
    content: url(/img/icons/coin.png);
    left: 17px;
    position: absolute;
    top: -15px;
    z-index: 990;
}
.children li a{
        text-decoration: none;
        color: #656d78;
        padding: 3px 8px 3px 10px;
        font-weight: normal;
}
span>ul.children{
    margin-left: -9px;
    margin-top: 5px;
}
.user:hover span>ul.children{
    display:block;
}
a>.fa,a>.icon-envelope{
    color: #fa6801;
    font-size: 15px;
    margin-right: 5px;
}

/***********************************************************************************************/
@media screen and (max-width:958px) {
    #home-carousel{
        display: none;
    }
    #menu-icon:checked ~ ul, .access-content .menu-icon, .access-content ul li.current_page_item > ul, .menu-close {
    display : block;
    }
    .access-content {
        position : absolute;
        width : auto;
        padding: 25px 0 15px;
    }
    .access-content ul {
    display : none;
    width : 172px;
    position : absolute;
    top : 0;
    left : 0;
    background : #fff;
    z-index : 1000;
    border-right : 1px solid #cdcdcd;
    }
    .access-content > ul {
    height : 100vh;
    }
    .access-content ul * {
    float : none;
    }
    .access-content ul ul {
    position : relative;
    float : none;
    width : 100%;
    border-radius : 0;
    border : none;
    margin : 0;
    background-color : #f7f7f7;
    padding : 0;
    }
    .access-content ul ul a, .access-content ul ul a:active, .access-content ul ul a:visited {
    padding-left : 20px;
    }
    .access-content ul ul:before {
    content : '';
    }
    .access-content li {
    margin : 0;
    border-top : 1px solid #f7f7f7;
    }
    .access-content > ul > li:first-of-type {
    border-top : none;
    }
    .access-content ul ul li {
    padding : 0;
    }
    .access-content .current_page_item > a, .access-content li.current_page_item.menu-item-has-children:hover > a {
    background-color : #f7f7f7;
    color : #a8abb0;
    border-radius : 0;
    }
    .access-content .current_page_item.menu-item-has-children > a {
    background-color : transparent;
    }
    .access-content > ul > li > a:link, .access-content > ul > li > a:visited {
    color : #434b56;
    }
    .access-content > ul > li > a:hover {
    color : #a8abb0;
    }
    .access-content a, .access-content a:active, .access-content a:visited {
    padding : 8px 25px 13px 11px;
    font-size : 13px;
    }
    .access-content > ul > li.menu-item-has-children:before {
    content : url(../images/arrow.png);
    position : absolute;
    left : 142px;
    top : 10px;
    }
    .access-content > ul > li.current_page_item.menu-item-has-children:before, .access-content > ul > li.menu-item-has-children:hover:before {
    transform : rotate(180deg);
    }
    .title-content {
        padding : 29px 0 26px 33px;
        margin-left : 40px;
        margin-right: 0;
    }
    .logo{
        max-width: 150px;
    }
    #branding .site-logo {
    display : none;
    }
    .center-slider .slides {
    max-height : 319px !important ;
    }
    .slides {
    max-height : 414px !important ;
    }
    .left-slider #slider-img .pager {
    width : 432px;
    }
    .center-slider #slider-img .pager {
    margin-top : -126px;
    }
    #slider-content {
    margin-bottom : 3px;
    }
    #slider-post {
    width : 363px;
    }
    .left-slider #slider-post .entry-content, .right-slider #slider-post .entry-content {
        padding-top : 30px;
        min-height: 100px;
    }
    .left-slider #slider-post .entry-header{
        min-height: 80px;
    }
    
    .right-slider #slider-content #slider-front-img {
    margin-top : 107px;
    }
    #slider-front-img img {
    max-width : 375px;
    }
    #slider-content #slider-front-img {
    margin-top : 97px;
    }
    .center-slider #slider-form {
    width : 748px;
    margin-bottom : 42px;
    }
    .left-slider #slider-form {
    margin-left : 10px;
    }
    .main-form {
    width : 365px;
    }
    .content-form {
    padding : 15px 30px 30px;
    }
    .airport_codes a {
    margin : 0;
    }
    .car-type-select .sbHolder {
    width : 142px;
    }
    .page .main-form {
    width : 748px;
    }
    .center-slider .form-block.car-type, .center-slider .form-block.drop-off, .center-slider .form-block.form-submit, .center-slider .form-block.pick-up, .page .form-block.car-type, .page .form-block.drop-off, .page .form-block.form-submit, .page .form-block.pick-up {
    margin : 20px 0 0;
    }
    .content-form .form-block.pick-datetime {
    clear : both;
    width : 50%;
    }
    .center-slider .location-block, .page .location-block {
    width : 100%;
    float : none;
    }
    #progress-bar-steps {
    max-width : 768px;
    width: 100%;
    }
    #progress-bar-steps {
        padding: 0;
    }
    .progress-bar-step {
    padding : 19px 22px 17px 18px;
    min-width : 140px;
    width : auto;
    }
    .two-column #content {
    margin-left : 11px;
    width : 240px;
    }
    .two-column #secondary {
    margin-left : 254px;
    }
    .feature-single {
    margin : 2px 11px 0 10px;
    }
    .one-column .feature-single {
    max-width : 232px;
    }
    .one-column .feature-single:first-child {
    margin-left : 16px;
    }
    .page #primary {
    padding : 0 8px;
    }
    .one-column .features {
    width : 768px;
    margin : 0 auto;
    }
    .sidebars-area {
    margin : 0 8px;
    }
    .special-offers-table th {
    width : 46%;
    }
    .special-offers-table td {
    padding : 0;
    text-align : center;
    }
    .widget .widget-footer {
    padding : 6px 7px 8px;
    }
    .product-widget .main-block .product-info {
    padding : 0 20px;
    width : auto;
    }
    #sign_up_conteiner {
    padding : 41px 9px 39px;
    }
    #sign_up .sign_up_form {
    float : none;
    }
    #sign_up .sign_up_text {
    float : none;
    padding-bottom : 0;
    }
    #sign_up input[type="text"] {
    margin-right : 5px;
    }
    #sign_up input[type="submit"] {
    padding : 2px 29px;
    }
    .custom-info.footer-widget-single {
    clear : both;
    max-width : 306px;
    width : auto;
    margin : 0 auto;
    float : none;
    padding-top : 32px;
    }
    .footer-widget-single .support {
    margin : 0;
    }
    .footer-nav {
    margin : 0 9px;
    width : 174px;
    }
    .widget-area {
    max-width : 165px;
    margin : 0;
    float : right;
    }
    .footer-widget-single {
        margin : 0 13px;
        float : left;
    }
}

@media screen and (max-width:767px) {
    .page .content-form .location {
        color: #7c8490;
        font-size: 11px;
        text-transform: uppercase;
        width: 100% !important;
    }
    #home-carousel{
        display: none;
    }
    #branding-content .menus, #footer-content, #slider-content #slider-post .post, .left-slider.two-column .post .entry-meta, .one-column #content .entry-meta, .product-widget .main-block .product-img, .widget.product-widget .post .entry-format {
    text-align : center;
    }
    #slider-post, .main-form, .middle-sidebar .sidebar-middle, .sidebar-middle, .two-column #content, .widget-area {
        width : 100%;
        max-width : 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .left-slider #slider-form, .left-slider #slider-post, .middle-sidebar .sidebar-middle .widget, .page .sidebar-middle .widget, .sidebar-middle, .sidebar-right .widget, .two-column #content, .two-column #secondary, .widget {
    margin-left : 0;
    margin-right : 0;
    }
    .first-column, .second-column {
    float : none;
    width : 100%;
    }
    .access-content, .slides li img {
    width : auto;
    }
    .title-content {
        padding : 22px 10px 15px 8px;
        width : auto;
        clear : both;
    }
    .language .sbSelector {
        padding-left: 10px;
    }
    #branding-content{
        width: 100%;
    }
    .access-content .menu-icon {
    margin-top : 19px;
    }
    .slides, .slides li {
    height : 340px !important ;
    }
    #slider-front-img img {
    max-width : 300px;
    }
    #slider-content #slider-post .post {
    max-width : 320px;
    margin : 0 auto;
    }
    .left-slider #slider-img .pager, .right-slider #slider-img .pager {
    width : 100%;
    max-width : 100%;
    margin-top : 70px;
    text-align : center;
    }
    .center-slider #slider-img .pager {
    margin-top : -40px;
    }
    .left-slider #slider-post, .right-slider #slider-post {
    margin : 42px 0;
    }
    #slider-content #slider-front-img, .right-slider #slider-content #slider-front-img {
    margin : 0;
    }
    #slider-front-img img {
    margin : 0 auto;
    display : block;
    }
    .left-slider #slider-form {
    margin-top : 20px;
    }
    .right-slider #slider-form {
    margin : 20px 0 34px;
    }
    .center-slider #slider-form {
    margin-top : 84px;
    }
    .time-select {
    /*width : 115px;*/
    padding-right : 0;
    }
    .center-slider .content-form, .content-form, .page .content-form {
    padding : 15px 9px 30px;
    }
    .content-form .form-block.pick-datetime {
    width : 100%;
    }
    .progress-bar-step {
    float : none;
    }
    .left-slider.two-column .post, .one-column #content .post {
    margin : 0 10px 29px;
    }
    .one-column .features {
    width : auto;
    padding : 0 17px;
    }
    .one-column .feature-single, .one-column .feature-single:first-child {
    float : none;
    max-width : 100%;
    width : 100%;
    margin : 0;
    padding : 0;
    }
    .sidebar-middle .widget {
    margin-left : 0;
    margin-right : 0;
    }
    .sidebar-left, .sidebar-right {
    width : 100%;
    clear : both;
    margin : 0;
    }
    .pagination-block {
    margin-left : 0;
    }
    /*.pagination {
    width : auto;
    }*/
    .pagination .left, .pagination .right {
    display : none;
    }
    .product-widget .additional-block {
    float : none;
    width : 100%;
    padding : 26px 0;
    clear : both;
    background : #f3f3f3;
    }
    .product-widget .additional-block div {
    margin-left : 10px;
    margin-right : 10px;
    }
    .main-block_container {
    border : none;
    }
    input.continue_button.blue_button {
    width : 100%;
    }
    a.continue_button.blue_button {
        /*width : 100%;*/
        display: block;
        padding: 0;
        line-height: 46px;
    }
    .company-name, .footer-navbar, .product-widget .main-block, .product-widget .main-block .product-info, .widget-area {
    float : none;
    }
    .widget-area {
    clear : both;
    }
    .product-widget .main-block .product-img {
    float : none;
    width : auto;
    }
    #sign_up .sign_up_form input {
    width : 100%;
    margin-bottom : 10px;
    }
    .recent_tweets.footer-widget-single {
    padding-top : 20px;
    }
    .footer-nav {
    min-width : auto;
    width : auto;
    }
    .form-block.drop-off, .form-block.pick-up {
        width: 100%;
    }
    .form-block .datepicker {
        /*width: 50%;*/
        max-width: 170px;
    }
}

/*****************************************************************************************************/