/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
    margin-top: 15px;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 88px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.validation {
    border-color: #a94442;
}

td {
    text-align: center;
    vertical-align: middle !important;
}

.dataTables_length label {
    float: left;
}

.notifcircle {
    width:18px;
    height:18px;
    border-radius:50%;
    font-size:12px;
    color:#fff;
    line-height:18px;
    text-align:center;
    background-color: #dc0d17;
    background-image: linear-gradient(#fa3c45, #dc0d17);
    position: absolute;
    z-index: 90;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    margin-left: 5px;
    margin-top: 5px;
}

th {
    text-align: center;
}

#details-tbl {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#details-tbl th#num{
    display: none;
}

.bold{
    font-weight: bold;
}

.circle {
    width: 35px; 
    height: 35px; 
    border-radius: 50%;
}

.car-thumb{
    height: 160px;
    background-size: cover  !important;
    border-color: #f8f8f8;
}

.add-pic{
    height: 160px;
    border-color: #ccc;
    background-color: #eee;
    position: relative;
}

.car-thumb:hover{
    box-shadow: 1px 1px 12px #555;
}

.actions {
    float: right;
    background-color: rgba(255, 255, 255, 0.67);
    width: 22px;
    display: none;
}

.actions div{
    margin-left: 3px;
}
.actions div a,
.actions div input{
    color: red;
    font-size: 21px;
    width: 16px;
    height: 16px;
    text-decoration: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#progress,
#homeprogress{
    display: none;
    position: absolute;
    width: 100%;
    bottom: -1px;
    border: solid 1px rgb(179, 178, 178);
    border-radius: 5px;
}

#bar,
#homebar{
    background-image: url(/img/progressbar.png);
    width: 20%;
    height: 20px;
    position: absolute;
    border-radius: 5px;
    -webkit-animation: move 2s linear infinite;
}

#percent,
#homepercent{
    color: #171717;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgb(225, 225, 225);
}

.primary-img{
    box-shadow: 1px 1px 12px #555;
    border-radius: 5px;
}

.thumb-div{
    position: relative;
    float: left;
    width: 190px;
    height: 120px;
    overflow: hidden;
    border: solid 1px grey;
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: 1px 1px 12px #555;
    background-color: #fff;
}

.thumb-img{
    max-width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto;
}

.sortable-li{
    display: block;
    border-radius: 3px;
    border: solid #bfbfbf 1px;
    height: 129px;
    margin-top: 5px;
    background: #f7f7f7;
}

.sortable-data{
    width: calc(100% - 200px);
    height: 120px;
    margin-left: 200px;
    margin-top: 3px;
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

.sortable-data .data{
    float: left;
}

.sortable-data .remove{
    float: right;
    font-size: 30px;
    color: #dc0d17;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}

.h4-carname{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
