<select class="selectpicker" data-live-search="true">
	<?php foreach ($etudiants as $etudiant) :?>
		<option data-tokens="<?= $etudiant->id ?>"><?= $etudiant->firstname.' '.$etudiant->lastname ?></option>
	<?php endforeach; ?>
</select>